.theme-global {
  --color-green-150: #114136;
  --color-green-140: #155144;
  --color-green-130: #1D725F;
  --color-green-120: #21826D;
  --color-green-110: #26927A;
  --color-green-100: #2AA288;
  --color-green-90: #30B99B;
  --color-green-80: #3FC5A8;
  --color-green-70: #4DD1B4;
  --color-green-60: #6DD9C2;
  --color-green-50: #8DE2CF;
  --color-green-40: #AEEADE;
  --color-green-30: #CEF2EB;
  --color-green-20: #DFF7F1;
  --color-green-10: #EFFBF8;
  --color-neutral-150: #1A2533;
  --color-neutral-140: #2B384A;
  --color-neutral-130: #344255;
  --color-neutral-120: #485569;
  --color-neutral-110: #56657A;
  --color-neutral-100: #64748B;
  --color-neutral-90: #7C8CA2;
  --color-neutral-80: #94A3B8;
  --color-neutral-70: #B0BCCD;
  --color-neutral-60: #C4CEDB;
  --color-neutral-50: #D8E0E9;
  --color-neutral-40: #E4EAF1;
  --color-neutral-30: #F1F5F9;
  --color-neutral-20: #F7F9FC;
  --color-neutral-10: #FCFDFE;
  --color-blue-150: #0B3E5B;
  --color-blue-140: #0D4A6E;
  --color-blue-130: #116392;
  --color-blue-120: #186CA0;
  --color-blue-110: #1B78B1;
  --color-blue-100: #1E85C6;
  --color-blue-90: #1C8FD3;
  --color-blue-80: #1A98DF;
  --color-blue-70: #4EABE4;
  --color-blue-60: #83C4EC;
  --color-blue-50: #B8DDF4;
  --color-blue-40: #CAE6F7;
  --color-blue-30: #DCEFFA;
  --color-blue-20: #E9F5FC;
  --color-blue-10: #f6fbfeff;
}
